html,
body,
#root {
  height: 100%;
}

h2 {
  font-family: $font-montserrat;
}

h3 {
  font-family: $font-roboto;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.myButton {
  width: 330px;
  height: 50px;
  border-radius: 5px;
  color: $color-white;
  background-color: $color-green;
  border: none;
  outline: none;

  &:hover {
    background-color: $color-green-light;
  }

  &:active {
    background-color: $color-green-dark;
  }
}