.footer {
  flex: 0 0 auto;
  padding-top: 48px;
  font-family: $font-roboto;
  text-align: center;
  background-color: $color-white;
  height: 250px;
  box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.368688), 0px 7px 12px rgba(0, 0, 0, 0.37);
}

p {
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
}

a {
  display: inline-block;
  margin-top: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: $color-green;

  &:first-of-type {
    margin-right: 15px;
  }
}
