.header {
  position: fixed;
  background-color: $color-white;
  height: $header-default-height;
  width: 100%;
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.368688);

}

.header-container {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header-img {
  margin-top: 17px;
}

.header-links {
  margin-top: 25px;
}

.header-content {
  display: flex;

}

.header-form {

}

.header-a {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $color-green;
}

.header-form-select {
  width: 109px;
  height: 50px;
  margin-top: 27px;
  color: $color-purple;
  padding-left: 45px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
}

.header-form-option {
  height: 100px;
  color: $color-green;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
}