.use {
  box-sizing: border-box;
  height: 896px;
  padding-top: 196px;
  background-color: $color-purple;
  background-image: url(/img/image.png);
}

.use-content {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.use-order {
  flex: 1 0 auto;
  width: 370px;
  background-color: $color-white;
  box-shadow: 0px 8px 10px rgba(4, 31, 61, 0.498641);
}

.use-order-h3 {
  margin-top: 31px;
  margin-bottom: 14px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: $color-purple;
}

.use-order-select {
  width: 330px;
  height: 50px;
  margin: 20px auto;
  background-color: #D8D8D8;
  border-bottom: 1px solid $color-purple-light;
}

.use-order-p {
  margin-top: 30px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $color-black;
}

.use-order-button {
  margin-top: 30px;
  text-align: center;
}

.use-description {
  box-sizing: border-box;
  padding-left: 130px;
}

.use-h2 {
  margin-bottom: 90px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 77px;
  color: $color-white;
}

.use-features {
  display: flex;
}

//.use-key {
//  height: 100px;
//}
//
//.use-bit {
//  height: 100px;
//}

.use-img {
  box-sizing: border-box;
  height: 70px;
  margin-bottom: 17px;
}

.use-features-h3 {
  width: 225px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: $color-white
}

@media #{$mq-mobile} {
  .use-features {
    background-color: purple;
  }
}