$color-green-light: #67DC99;
$color-green: #41BF77;
$color-green-dark: #38AE6B;
$color-purple: #4D498D;
$color-black: #414C57;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-purple-light: #ABA9D5;
$color-grey: #D8D8D8;

$header-default-height: 100px;

$mq-desktop: '(min-width: 1201px)';
$mq-tablet: '(max-width: 1200px) and (min-width: 768px)';
$mq-mobile: '(max-width: 767px)';

$desktop-grid-column: 70px;
$desktop-grid-gap: 30px;
$desktop-grid: ($desktop-grid-column + $desktop-grid-gap) * 12 - $desktop-grid-gap;

$mobile-grid-column: 130px;
$mobile-grid-gap: 20px;
$mobile-grid: ($mobile-grid-column + $mobile-grid-gap) * 2 - $mobile-grid-gap;

$tablet-grid-column: 65px;
$tablet-grid-gap: 15px;
$tablet-grid: ($tablet-grid-column + $tablet-grid-gap) * 9 - $tablet-grid-gap;