.what {
  height: 800px;
  padding-top: 131px;
  background-color: $color-white;
  box-shadow: 0px -7px 12px rgba(0, 0, 0, 0.368688), 0px 7px 12px rgba(0, 0, 0, 0.37);
}

.what-h2 {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: $color-purple;
}

.what-content {
  //width: 1154px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;

  @include wrapper;
}

.what-unit {
  text-align: center;
  width: 30%;
}

.what-h3 {
  margin-bottom: 50px;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: $color-purple;
}

.what-img {
  height: 82px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.what-p {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: $color-black;
}