.why {
  height: 800px;
  padding-top: 102px;
  background-color: $color-purple;
  box-shadow: inset 0px 7px 12px rgba(0, 0, 0, 0.368688);
  background-image: radial-gradient(859.36px at 50% -20%, #41BF77 0%, rgba(65, 191, 119, 0.55261) 21.71%, rgba(65, 191, 119, 0.0001) 100%);

}

.why-h2 {
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: $color-white;
}

.why-h3 {
  width: 300px;
  margin: 50px auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: $color-white;
}

.why-advantages {
  width: 1100px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantage {
  width: 33%;
  height: 280px;
  text-align: center;
}